*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# IDE settings & user workspace (IntelliJ / Android Studio / VS Code)
/.idea/
.vscode/

# Sandboxed Gradle User Home (dependencies & JDKs)
.gha/gradle-user-home/
.gha/tmp/
