*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio IDE user workspace
/.idea/workspace.xml
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Sandboxed Gradle User Home (dependencies & JDKs)
.gha/gradle-user-home/
.gha/tmp/
